.ui-button {
	border: 1px solid;
	border-radius: $u;
	box-shadow:
		0 1px 0 rgba(0,0,0,.1),
		0 1px 4px rgba(0,0,0,.2),
		inset 0 -1px 0 rgba(0,0,0,.15),
		inset 0 1px 0 rgba(255,255,255,.3);
	color: #fff;
	cursor: pointer;
	font-family: $f-sans;
	padding: $u + $u/2 $u*2;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0,0,0,.5);

	@mixin color($color, $inverted: false) {
		border-color: shade($color, 35);
		@include linear-gradient($color, shade($color, 20));

		&:hover {
			@include linear-gradient(tint($color, 5), shade($color, 10));
		}

		@if $inverted {
			color: #333;
			text-shadow: 0 1px 0 rgba(255,255,255,.5);
		}
	}

	@mixin type($type, $color, $inverted: false) {
		&.#{$type} { @include color($color, $inverted); }
	}

	@include color(#43b101);
	@include type(light, #fff, true);

	&.small {
		font-size: 11px;
		padding: $u $u + $u/2;
	}
}