.ui-field-group {
	.ui-form.inline & {
		@include clearfix;

		.ui-field, .ui-button {
			border-radius: 0;
			float: left;
			margin-left: -1px;

			&:first-child {
				border-radius: $u 0 0 $u;
				margin-left: 0;
			}

			&:last-child { border-radius: 0 $u $u 0; }
		}
	}

	.ui-form.blocked & {
		margin-top: $u;
	}

	&.control {
		text-align: right;

		.ui-button, .feedback {
			display: inline-block;
			vertical-align: top;
		}

		&.center {
			text-align: center;
		}
	}

	&.spaced {
		margin-top: $u*3;
	}

	> .label {
		margin-bottom: $u;
	}

	.row-2 > & {
		margin-bottom: $u*2;

		&:nth-child(even) { float: right; }
		&:nth-child(odd) { float: left; }
	}
}