.ui-form {
	.heading {
		color: shade($c-orange, 50);
		font-weight: 900;
		font-size: 16px;
		margin-bottom: $u*2;
		text-shadow: 0 1px 0 rgba(255,255,255,.5);
	}

	.ui-field {
		width: 100%;
		@include box-sizing(border-box);
	}

	.feedback {
		border-radius: $u;
		margin-right: $u/2;
		padding: $u + $u/2 $u*2;

		&.error {
			background: $c-red;
			color: #fff;
			text-shadow: 0 1px 1px rgba(0,0,0,.5);
		}
	}
}