<% var meal = it.meal.attributes; %>
<div class="ui-type">
	<h2 class="heading">Olá, <%= it.user.attributes.username %>!</h2>

	<div class="ui-field-group spaced">
		<h3 class="heading small dark">Você almoçou na NBR hoje?</h3>

		<div>
			<label class="ui-field chooser inline">
				<input type="radio" value="sim" name="aceitacao">
				<span class="label">Sim</span>
			</label>

			<label class="ui-field chooser inline">
				<input type="radio" value="não" name="aceitacao">
				<span class="label">Não</span>
			</label>
		</div>
	</div>

	<div id="questions" class="hide">
		<div class="ui-field-group spaced">
			<h3 class="heading small dark">E como estava?</h3>
			<%= _.render('asset.rating.select.html', { name: 'avaliacao.geral' }) %>
		</div>

		<p class="heading normal small dark spacer-top">O cardápio de hoje foi <strong><%= _.printArray(meal.items) %></strong>. Em relação aos itens, como você avalia?</p>

		<div class="group row-2">
			<% _.each(meal.items, function(item, index){ %>
			<div class="ui-field-group spaced">
				<h3 class="heading small dark"><%= item.toProperCase() %></h3>
				<%= _.render('asset.rating.select.html', { name: 'avaliacao.' + item, untried: true }) %>
			</div>
			<% }) %>
		</div>

		<div class="ui-field-group spaced">
			<h3 class="heading small dark">E o que poderia melhorar?</h3>

			<div>
				<label class="ui-field chooser inline">
					<input type="checkbox" value="mudar-tempero" name="sugestao[]">
					<span class="label">Mudar tempero</span>
				</label>

				<label class="ui-field chooser inline">
					<input type="checkbox" value="diminuir-sal" name="sugestao[]">
					<span class="label">Diminuir sal</span>
				</label>

				<label class="ui-field chooser inline">
					<input type="checkbox" value="aumentar-variedade" name="sugestao[]">
					<span class="label">Aumentar variedade</span>
				</label>

				<label class="ui-field chooser inline">
					<input type="checkbox" value="aumentar-quantidade" name="sugestao[]">
					<span class="label">Aumentar quantidade</span>
				</label>

				<input class="ui-field inline" type="text" name="sugestao_usuario" placeholder="Outra sugestão">
			</div>
		</div>

		<div class="ui-field-group control center spaced">
			<div class="ui-preloader p-t">
				<img src="preloader.gif" class="img">
				<span class="label"></span>
			</div>
		</div>
	</div>
</div>