<% var current = _.last(it.meal); %>
<div class="ui-type">
	<h2 class="heading">Olá, <%= it.user.username %>!</h2>

	<div class="ui-field-group spaced">
		<h3 class="heading small dark">Você almoçou na NBR hoje?</h3>

		<div>
			<label class="ui-field chooser inline">
				<input type="radio" value="sim" name="aceitacao">
				<span class="label">Sim</span>
			</label>

			<label class="ui-field chooser inline">
				<input type="radio" value="não" name="aceitacao">
				<span class="label">Não</span>
			</label>
		</div>
	</div>

	<div id="questions" class="hide">
		<div class="ui-field-group spaced">
			<h3 class="heading small dark">E como estava?</h3>

			<select name="avaliacao" class="ui-field">
				<option value="">Escolha</option>
				<option value="4">Bom bagarai!</option>
				<option value="3">Até que tava bom</option>
				<option value="2">Mais ou menos</option>
				<option value="1">Comi pra não passar fome</option>
				<option value="0">Lixo</option>
			</select>
		</div>

		<p class="heading normal small dark spacer-top">O cardápio de hoje foi <strong><%= _.printArray(current.items) %></strong>. Em relação aos itens, como você avalia?</p>

		<div class="group row-2">
			<% _.each(current.items, function(item, index){ %>
			<div class="ui-field-group spaced">
				<h3 class="heading small dark"><%= item.toProperCase() %></h3>

				<select name="<%= item %>" class="ui-field">
					<option value="">Escolha</option>
					<option value="4">Bom bagarai!</option>
					<option value="3">Até que tava bom</option>
					<option value="2">Mais ou menos</option>
					<option value="1">Comi pra não passar fome</option>
					<option value="0">Lixo</option>
					<option value="sem-opiniao">Não provei</option>
				</select>
			</div>
			<% }) %>
		</div>

		<div class="ui-field-group spaced">
			<h3 class="heading small dark">Pra terminar, o que poderia melhorar?</h3>

			<div>
				<label class="ui-field chooser inline">
					<input type="checkbox" value="mudar-tempero" name="sugestao">
					<span class="label">Mudar tempero</span>
				</label>

				<label class="ui-field chooser inline">
					<input type="checkbox" value="diminuir-sal" name="sugestao">
					<span class="label">Diminuir sal</span>
				</label>

				<label class="ui-field chooser inline">
					<input type="checkbox" value="aumentar-variedade" name="sugestao">
					<span class="label">Aumentar variedade</span>
				</label>

				<label class="ui-field chooser inline">
					<input type="checkbox" value="aumentar-quantidade" name="sugestao">
					<span class="label">Aumentar quantidade</span>
				</label>

				<input class="ui-field inline" type="text" name="sugestao" placeholder="Outra sugestão">
			</div>
		</div>

		<div class="ui-field-group control center spaced spacer-top">
			<button class="ui-button" title="Enviar avaliação">Enviar avaliação</button>
		</div>
	</div>
</div>